<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-scanner" version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ScannerPlugin</name>

    <!-- the js-module is described the js file which will be our bridge to the native code
    the src attribute is the path of the js file
    the clobbers target is the json path where our module will be added to the window object -->
    <js-module name="ScannerPlugin" src="www/ScannerPlugin.js">
        <clobbers target="ScannerPlugin" />
    </js-module>

    <!-- details of our Android related files
    source-file is where our java file takes place in the plugin
    target-dir is the path where this file will be copied when you install this plugin -->
    <platform name="android" kotlin="1.2.50">

    <!-- kotlin support -->
    <!-- <hook type="after_plugin_add" src="hooks/support-kotlin.js" />
    <hook type="after_platform_add" src="hooks/support-kotlin.js" /> -->
    <framework src="org.jetbrains.kotlin:kotlin-stdlib-jdk8:1.2.31" />
    <apply-dependency>org.jetbrains.kotlinx:kotlinx-coroutines-android:1.3.0-M2</apply-dependency>
    <apply-plugin>kotlin-android-extensions</apply-plugin>
    <apply-plugin>kotlin-kapt</apply-plugin>

    <!--  -->
    <!-- <hook type="before_plugin_rm" src="hooks/on-uninstall.js" />
    <hook type="before_plugin_uninstall" src="hooks/on-uninstall.js" /> -->

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ScannerPlugin">
                <param name="android-package" value="cordova.plugin.scanner.ScannerPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />

        <!--add all source files here-->
        <source-file src="src/android/ScannerPlugin.java" target-dir="src/cordova/plugin/scanner/ScannerPlugin"/>
        <source-file src="src/android/MainActivity.java" target-dir="src/cordova/plugin/scanner/ScannerPlugin"/>
        <source-file src="src/android/TestActivity.kt" target-dir="src/cordova/plugin/scanner/ScannerPlugin"/>
        <source-file src="src/android/activity_main.xml" target-dir="res/layout" />
        <source-file src="src/android/camera_theme.xml" target-dir="res/values" />
        <source-file src="src/android/activity_test.xml" target-dir="res/layout" />

        <!-- add all dependencies,.aar files or lib/sdk here-->
        <framework src="com.android.support:support-v4:23.+" />
        <framework src="com.android.support:appcompat-v7:27.1.1" />
        <framework src="com.google.android.gms:play-services-vision:15.0.2" />
        <!-- <framework src="org.jetbrains.kotlin:kotlin-stdlib-jdk8:1.2.31" /> -->
        <framework src="src/android/barcode-reader" custom="true" />
        
         <!-- add all permissions here-->
         <config-file target="AndroidManifest.xml" parent="/manifest">
           <uses-permission android:name="android.permission.CAMERA"/>
           <uses-permission android:name="android.permission.FLASHLIGHT"/>
           <uses-feature android:name="android.hardware.camera" android:required="true"/>
        </config-file>

         <!-- add activities here-->
         <config-file target="AndroidManifest.xml" parent="/manifest/application">
           <activity android:name="cordova.plugin.scanner.MainActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" />
           <activity android:name="cordova.plugin.scanner.TestActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" />
         </config-file>

    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ScannerPlugin">
                <param name="ios-package" value="ScannerPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/ScannerPlugin.m" />
    </platform>

</plugin>